<% content_for(:page_title) do %>
  <%= t('.page_title') %>
<% end %>

<% content_for(:back_link) do %>
  <%= link_to t('helpers.back_link'), claims_path, class: 'govuk-back-link' %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <%= render 'claims/claim_summary', { claim:, claim_summary: } %>
    <%= render 'claims/claim_nav', { claim: claim, current_page: 'supporting_evidences' } %>
    <h2 class="govuk-heading-m">
      <%= t('.heading') %>
    </h2>
    <%= render 'shared/pagination_info', { pagy: @pagy, item: t('.heading') } %>
    <%= render 'supporting_evidence_table', { supporting_evidence: @supporting_evidence } %>
    <%= render "shared/pagination", pagy: @pagy %>
  </div>
</div>
