<% content_for(:page_title) do %>
  &nbsp;
<% end %>

<% content_for(:back_link) do %>
  <%= link_to t('helpers.back_link'), claims_path, class: 'govuk-back-link' %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= render partial: 'claims/claim_summary', locals: { claim:, claim_summary: } %>
    <%= render partial: 'claims/claim_nav', locals: { claim: claim, current_page: 'claim_details' } %>

  <% claim_details.table.each do |section| %>
    <%= govuk_table do |table|
          table.with_caption( text: section[:title] )

          table.with_body do |body|
            section[:data].each do | field |
              body.with_row do |row|
                row.with_cell(html_attributes: { class: "govuk-table__header govuk-!-width-one-third" }, text: field[:title])
                row.with_cell(text: field[:value])
              end
            end
          end
    end %>
  <% end %>
    <%= render partial: 'shared/claim_button_group', locals: { claim: claim } %>
  </div>
</div>
