<% content_for(:page_title) do %>
  &nbsp;
<% end %>

<% content_for(:back_link) do %>
  <%= link_to t('helpers.back_link'), claims_path, class: 'govuk-back-link' %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= render partial: 'claims/claim_summary', locals: { claim:, claim_summary: } %>
    <%= render partial: 'claims/claim_nav', locals: { claim: claim, current_page: 'claim_details' } %>

    <% claim_details.table.each do |section| %>
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m"><%= section[:title] %></caption>
        <tbody class="govuk-table__body">
          <% section[:data].each do |row| %>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header govuk-!-width-one-third"><%= row[:title] %></th>
              <td class="govuk-table__cell"><%= row[:value] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
