<% content_for(:primary_navigation) do %>
  <% render partial: 'layouts/prior_authority/primary_navigation', current: :your %>
<% end %>

<% title t('.page_title') %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds" id="service-cost-adjustment-container">
    <h1 class="govuk-heading-xl"><%= t('.page_title') %></h1>
    <h2 class="govuk-heading-l"><%= t('.service_type_cost', service_type: t(submission.data['service_type'], scope: 'prior_authority.service_types')) %></h2>
    <p class="govuk-body"><%= t('.adjustment_blurb', service_type: t(submission.data['service_type'], scope: 'prior_authority.service_types')) %></p>

    <%= form_with model: form, url: prior_authority_application_service_cost_path(submission.id, item.id), method: :patch do |f| %>
      <%= govuk_error_summary(form) %>

      <%= f.hidden_field(:cost_type, value: item.cost_type) %>
      <%= f.hidden_field(:item_type, value: item.item_type) %>

      <%= render 'cost_fields', form: f %>

      <%= govuk_button_link_to(
            t('.calculate_button_text'), '#',
            secondary: true,
            id:'calculate_change_button',
            data: {
              'unit-amount': item.period || item.items,
              'unit-price': item.cost_per_hour || item.cost_per_item,
              # page: item.type.value,
              # 'vat-multiplier': item.vat_registered? ? (1.0 + item.vat_rate) : 1.0,
            }
          ) %>

      <h2 class="govuk-heading-l">
        <span class="govuk-caption-m">Adjusted cost</span>
        £
        <span id="adjusted-cost">0.00</span>
      </h2>

      <%= f.govuk_text_area :explanation,
                            label: { size: 's', text: t('.explanation.label') },
                            hint: { size: 's', text: t('.explanation.hint') },
                            rows: 5 %>

      <%= f.govuk_submit t('shared.save_changes') do %>
        <%= link_to t('shared.cancel'), prior_authority_application_adjustments_path(submission), class: 'govuk-link', data: { turbo: 'false' } %>
      <% end %>
    <% end %>
  </div>
</div>
