  
 <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <strong class="govuk-tag">
      <%= claim.state %>
    </strong>
    <div class="govuk-!-margin-top-5 govuk-!-margin-bottom-0 govuk-body-l">
      <%= claim_summary.laa_reference %>
    </div>
    <h1 class="govuk-heading-xl">
      <%= claim_summary.main_defendant_name %>
    </h1>
    <div class="govuk-body-l govuk-!-margin-bottom-0">
      £#Pending#
    </div>
    <div class="govuk-body-l govuk-!-margin-bottom-0">
      <%= t(".risk.#{claim.risk}") %>
      <%= link_to t('.risk.change'), '#', class: 'govuk-body' %>
    </div>
    <div class="govuk-!-margin-top-3">
      <div class="govuk-body-l govuk-!-margin-bottom-0">
        <span class="govuk-!-font-weight-bold"><%= t(".assigned_to") %></span>
        <%= '#Pending' %>
      </div>
      <div class="govuk-body-l govuk-!-margin-bottom-0">
        <span class="govuk-!-font-weight-bold"><%= t(".date_received") %></span>
        <%= claim.received_on %>
      </div>
      <div class="govuk-!-padding-top-2">
        <%= button_to(t(".remove_from_list"), '#', class: "govuk-button govuk-button--secondary", data_module: "govuk-button") %>
      </div>
    </div>
 </div>
</div>