  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class=" govuk-body-l govuk-!-margin-bottom-2">
        <%= claim_summary.laa_reference %>
      </p>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
        <%= claim_summary.main_defendant_name %>
      </h1>
      <p class="govuk-body-l govuk-!-margin-bottom-2"><%= claim_summary.total %></p>
      <p class="govuk-body-l">
        <%= t(".risk.#{claim.risk}") %>
      <%= link_to t('.risk.change'), edit_claim_change_risk_path(claim), class: 'govuk-!-font-size-19 govuk-!-margin-left-2' %>
      </p>
    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body-l govuk-!-margin-bottom-2">
        <span class="govuk-!-font-weight-bold"><%= t(".assigned_to") %></span>
        <%= claim_summary.assigned_to&.display_name %>
      </p>
      <p class="govuk-body-l govuk-!-margin-bottom-2">
        <span class="govuk-!-font-weight-bold"><%= t(".date_received") %></span>
        <%= format_in_zone(claim.received_on, format:'%d %b %Y') %>
      </p>
    </div>
    <div class="govuk-grid-column-one-thirds govuk-!-padding-top-2">
      <% if claim_summary.assigned_to %>
        <%=
          button_to(
            t(claim_summary.assigned_to.user == current_user ? ".remove_from_yourlist" : ".remove_from_list"),
            claim_path(claim),
            method: :delete,
            class: "govuk-button govuk-button--secondary",
            data_module: "govuk-button")
        %>
      <% end%>
    </div>
  </div>
