  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <strong class="govuk-tag govuk-!-margin-bottom-5">
        <%= claim.state %>
      </strong>
      <p class=" govuk-body-l govuk-!-margin-bottom-2">
        <%= claim_summary.laa_reference %>
      </p>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
        <%= claim_summary.main_defendant_name %>
      </h1>
      <p class="govuk-body-l govuk-!-margin-bottom-2">£ #Pending#</p>
      <p class="govuk-body-l">
        <%= t(".risk.#{claim.risk}") %>
      <%= link_to t('.risk.change'), '#', class: 'govuk-!-font-size-19 govuk-!-margin-left-2' %>
      </p>
    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body-l govuk-!-margin-bottom-2">
        <span class="govuk-!-font-weight-bold"><%= t(".assigned_to") %></span>
        <%= "Ukaleq Christina" %>
      </p>
      <p class="govuk-body-l govuk-!-margin-bottom-2">
        <span class="govuk-!-font-weight-bold"><%= t(".date_received") %></span>
        <%= l(claim.received_on, format:'%d %b %Y') %>
      </p>
    </div>
    <div class="govuk-grid-column-one-thirds govuk-!-padding-top-2">
      <%= button_to(t(".remove_from_list"), '#', class: "govuk-button govuk-button--secondary", data_module: "govuk-button") %>
    </div>
  </div>
