<% title t('.page_title') %>

<%= render partial: 'nsm/claims/claim_summary', locals: { claim:, claim_summary: } %>
<%= render partial: 'nsm/claims/claim_nav', locals: { claim: claim, current_page: 'review_and_adjust' } %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-heading-l">
        <%= t('.review_and_adjust') %>
      </h2>

      <%=
        caption = t('.cost_summary')
        head = core_cost_summary.headers
        rows = core_cost_summary.table_fields.map(&:values)
        foot = core_cost_summary.formatted_summed_fields.map do |key, value|
          value[:text] = (tag.span(t(".accessible.#{key}"), class: 'govuk-visually-hidden') + value[:text]) if key != :name && value.present?
          value
        end
        govuk_table(
          first_cell_is_header: true,
          caption:,
          head:,
          rows:,
          foot:
        )
      %>

      <ul class="govuk-tabs__list" id="tabs">
        <li class="govuk-tabs__list-item <%= 'govuk-tabs__list-item--selected' if scope == :work_items %>">
          <%= link_to t('.work_items'), nsm_claim_work_items_path(claim, anchor: :tabs) %>
        </li>
        <li class="govuk-tabs__list-item <%= 'govuk-tabs__list-item--selected' if scope == :letters_and_calls %>">
          <%= link_to t('.letters_and_calls'), nsm_claim_letters_and_calls_path(claim, anchor: :tabs) %>
        </li>
        <li class="govuk-tabs__list-item <%= 'govuk-tabs__list-item--selected' if scope == :disbursements %>">
          <%= link_to t('.disbursements'), nsm_claim_disbursements_path(claim, anchor: :tabs) %>
        </li>
      </ul>

      <div class="govuk-tabs__panel">
        <h3 class="govuk-heading-m">
          <%= t(".#{scope}") %>
        </h3>

        <%= render partial: "nsm/#{scope}/index", locals: { claim:, records:, summary:, pagy: } %>
      </div>
    </div>

    <% if type_changed_records.any? %>
      <section>
        <p id="fn*">
          <%= t("nsm.work_items.type_changes.asterisk") %>
          <%= t("nsm.work_items.type_changes.explanation") %>
          <%= t("nsm.work_items.type_changes.see") %>
          <% type_changed_records.each_with_index do |work_item, index| %>
            <% link =
              url_for(
                controller: "nsm/work_items",
                action: claim.editable_by?(current_user) ? :edit : :show,
                claim_id: claim.id,
                id: work_item.id,
                only_path: true,
              ) %>
            <%= link_to(
              t("nsm.work_items.type_changes.item", position: work_item.position),
              link,
              data: {
                turbo: "false",
              },
            ) %><% if index < type_changed_records.length - 1 %>,<% end %>
          <% end %>
        </p>
      </section>
    <% end %>

    <%= render partial: 'shared/claim_button_group', locals: { claim: claim } %>
  </div>
</div>
