<% content_for(:page_title) do %>
  <%= t('.review_and_adjust') %>
<% end %>

<%= render partial: 'nsm/claims/claim_summary', locals: { claim:, claim_summary: } %>
<%= render partial: 'nsm/claims/claim_nav', locals: { claim: claim, current_page: 'review_and_adjust' } %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-heading-l">
        <%= t('.review_and_adjust') %>
      </h2>

      <%=
        caption = t('.cost_summary')
        head = core_cost_summary.headers
        rows = core_cost_summary.table_fields.map(&:values)
        foot = core_cost_summary.summed_fields.map do |key, value|
          value[:text] = (tag.span(t(".accessible.#{key}"), class: 'govuk-visually-hidden') + value[:text]) if key != :name && value.present?
          value
        end
        govuk_table(
          first_cell_is_header: true,
          caption:,
          head:,
          rows:,
          foot:
        )
      %>

      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#work-items-tab">
            <%= t('.work_items') %>
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#letters-and-calls-tab">
            <%= t('.letters_and_calls') %>
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#disbursements-tab">
            <%= t('.disbursements') %>
          </a>
        </li>
      </ul>

      <div class="govuk-tabs__panel" id="work-items-tab">
        <%= turbo_frame_tag 'work_items', src: nsm_claim_work_items_path(claim), loading: :lazy do %>
          Loading
        <% end %>
      </div>
      <div class="govuk-tabs__panel" id="letters-and-calls-tab">
        <%= turbo_frame_tag 'letters_and_calls', src: nsm_claim_letters_and_calls_path(claim), loading: :lazy do %>
          Loading
        <% end %>
      </div>
      <div class="govuk-tabs__panel" id="disbursements-tab">
        <%= turbo_frame_tag 'disbursements', src: nsm_claim_disbursements_path(claim), loading: :lazy do %>
          Loading
        <% end %>
      </div>
    </div>
    <%= render partial: 'shared/claim_button_group', locals: { claim: claim } %>
  </div>
</div>
