<% title t('.page_title') %>

<% content_for(:back_link) do %>
  <%= link_to t('helpers.back_link'), claim_adjustments_path(claim, anchor: 'letters-and-calls-tab'), class: 'govuk-back-link', data: { turbo: 'false' } %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">
        <%= t('.heading', type: item.type_name) %>
    </h1>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <%=
      rows = [
        [t('.number', type: item.type_name), item.provider_requested_count.to_s],
        [t('.rate'), item.pricing.to_s],
        [t('.uplift_requested'), "#{item.provider_requested_uplift}%"],
        [t('.total_claimed'), NumberTo.pounds(item.provider_requested_amount)]
      ]
      govuk_table(head: '', first_cell_is_header: true, rows:) do |tab|
        tab.with_caption(text: t('.provider_submission'), size: 'l')
      end
    %>

    <h2 class="govuk-heading-l"><%= t('.laa_adjustments') %></h2>
    <%= form_with model: form, url: claim_letters_and_call_path(claim.id, 'letters'), method: :put do |f| %>
      <%= f.hidden_field :id %>
      <%= govuk_error_summary(form) %>
      <% if item.uplift? %>
        <%= f.govuk_radio_buttons_fieldset(:uplift, legend: { size: 's' }) do %>
          <%= f.govuk_radio_button :uplift, 'yes' %>
          <%= f.govuk_radio_button :uplift, 'no' %>
        <% end %>
      <% end %>
      <%= f.govuk_text_field :count, label: { size: 's' }, width: 10 %>
      <%= f.govuk_text_area :explanation, label: { size: 's' }, rows: 5 %>
      <%= f.govuk_submit t('shared.save_changes') do %>
        <%= link_to t('shared.cancel'), :back, class: 'govuk-link', data: { turbo: 'false' } %>
      <% end %>
    <% end %>
  </div>
</div>
