<% content_for(:back_link) do %>
  <%= link_to t('helpers.back_link'), claim_adjustments_path(claim, anchor: 'letters-and-calls-tab'), class: 'govuk-back-link', data: { turbo: 'false' } %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">
        <%= t('.heading', type: item.type_name) %>
    </h1>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <%=
    head = []
    rows = [
      [t('.number', type: item.type_name), item.count.to_s],
      [t('.rate'), item.pricing.to_s],
      [t('.uplift_requested'), item.uplift_amount],
      [t('.total_claimed'), item.total_claimed]
    ]
    govuk_table(caption: t('.provider_submission'), head: '', first_cell_is_header: true, rows:)
    %>

    <h2 class="govuk-heading-m"><%= t('.laa_adjustments') %></h2>
    <%= form_with model: form, url: edit_claim_change_risk_path(claim.id), method: :put do |f| %>
      <%= govuk_error_summary(form) %>
      <% if item.uplift? %>
        <%= f.govuk_radio_buttons_fieldset(:uplift, legend: { size: 'm' }) do %>
          <%= f.govuk_radio_button :uplift, 'yes' %>
          <%= f.govuk_radio_button :uplift, 'no' %>
        <% end %>
      <% end %>
      <%= f.govuk_submit t('shared.save_changes') do %>
        <%= f.hidden_field :id %>
        <%= link_to t('shared.cancel'), :back, class: 'govuk-link' %>
      <% end %>
    <% end %>
  </div>
</div>
