<% content_for(:primary_navigation) do %>
  <% render 'layouts/prior_authority/primary_navigation', current: :your %>
<% end %>

<% title t('.page_title') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds" id="travel-cost-adjustment-container">
    <%= govuk_error_summary(form) %>
    <h1 class="govuk-heading-xl"><%= t('.page_title') %></h1>
    <p class="govuk-body"><%= t('.adjustment_blurb', service_type: t(submission.data['service_type'], scope: 'prior_authority.service_types')) %></p>

    <%= form_with model: form, url: prior_authority_application_travel_cost_path(submission.id, item.id), method: :patch do |f| %>
      <%= f.govuk_period_field :travel_time, legend: { text: t('.travel_time'), size: 's', class: 'govuk-!-font-weight-bold' }, width: 'one-third' %>

      <%= f.govuk_text_field  :travel_cost_per_hour,
                              width: 5,
                              prefix_text: "&pound;".html_safe,
                              inputmode: "decimal",
                              label: { text: t('.hourly_cost'), size: 's' } %>

      <%= govuk_button_link_to(t('.calculate_button_text'), '#',
                               secondary: true,
                               id:'calculate_change_button') %>

      <h2 class="govuk-heading-l">
        <span class="govuk-caption-m"><%= t('.adjusted_cost') %></span>
        £
        <span id="adjusted-cost">0.00</span>
      </h2>

      <%= f.govuk_text_area :explanation,
                            label: { size: 's', text: t('.explanation.label') },
                            hint: { size: 's', text: t('.explanation.hint') },
                            rows: 5 %>

      <%= f.govuk_submit t('shared.save_changes') do %>
        <%= link_to t('shared.cancel'), prior_authority_application_adjustments_path(submission), class: 'govuk-link', data: { turbo: 'false' } %>
      <% end %>
    <% end %>
  </div>
</div>
