<% if show_tag_on_details_page?(application_summary.submission) %>
  <%= prior_authority_state_tag(application_summary.submission) %>
  <br><br>
<% end %>

<span class="govuk-caption-xl"><%= application_summary.firm_name %></span>
<h1 class="govuk-heading-xl"><%= application_summary.laa_reference %></h1>
<p>
  <span class="govuk-body-l">
    <strong><%= t('.requested') %></strong>
    <%= application_summary.formatted_original_total_cost %><br>
    <% if application_summary.adjustments_made? || application_summary.assessed? %>
      <strong><%= t('.allowed') %></strong>
      <% if application_summary.submission.state == 'rejected' %>
        <%= NumberTo.pounds(0) %><br>
      <% else %>
        <%= application_summary.formatted_total_cost %><br>
      <% end %>
    <% end %>
  </span>
</p>
<p class="govuk-body-m">
  <strong><%= t('.service') %> </strong>
  <%= application_summary.service_name %>
  <% if application_summary.rep_order_date %>
    <br>
    <strong><%= t('.rep_order_date') %></strong>
    <%= application_summary.rep_order_date_str %>
  <% end %>
</p>
<p class="govuk-body-m">
  <strong><%= t('.date_received') %>
  </strong> <%= application_summary.date_created_str %>
  <% if application_summary.unassignable? %>
    <br>
    <strong><%= t('.caseworker') %></strong> <%= application_summary.caseworker %>
  <% elsif application_summary.assessed? %>
    <br>
    <strong><%= t('.date_assessed') %></strong> <%= application_summary.date_updated_str %>
  <% elsif application_summary.sent_back? %>
    <br>
    <strong><%= t('.date_sent_back') %></strong> <%= application_summary.date_updated_str %>
  <% elsif application_summary.expired? %>
    <br>
    <strong><%= t('.date_expired') %></strong> <%= application_summary.date_updated_str %>
  <% elsif application_summary.provider_updated? %>
    <br>
    <strong><%= t('.date_amended') %></strong> <%= application_summary.date_updated_str %>
  <% end %>
</p>

</p>
<% if application_summary.unassignable? %>
  <%= govuk_button_link_to t('.remove_from_list'),
                           new_prior_authority_application_unassignment_path(application_summary.id),
                           secondary: true %>
<% elsif application_summary.assignable? %>
  <%= govuk_button_link_to t('.add_to_my_list'),
                           new_prior_authority_application_manual_assignment_path(application_summary.id),
                           secondary: true %>
<% end %>
<nav class="moj-sub-navigation" aria-label="Sub navigation" id="application_nav">
  <ul class="moj-sub-navigation__list">
    <li class="moj-sub-navigation__item">
      <%= link_to t('.overview'), prior_authority_application_path(application_summary.id), class: 'moj-sub-navigation__link', 'aria-current': (current_page == 'overview' ? "page" : nil) %>
    </li>
    <li class="moj-sub-navigation__item">
      <%= link_to application_summary.can_edit?(current_user) ? t('.adjust_quote') : t('.adjustments'),
                  prior_authority_application_adjustments_path(application_summary.id), class: 'moj-sub-navigation__link', 'aria-current': (current_page == 'adjust_quote' ? "page" : nil) %>
    </li>
    <li class="moj-sub-navigation__item">
      <%= link_to t('.related_applications'), prior_authority_application_related_applications_path(application_summary.id), class: 'moj-sub-navigation__link', 'aria-current': (current_page == 'related_applications' ? "page" : nil) %>
    </li>
    <li class="moj-sub-navigation__item">
      <%= link_to t('.application_history'), prior_authority_application_events_path(application_summary.id), class: 'moj-sub-navigation__link', 'aria-current': (current_page == 'application_history' ? "page" : nil) %>
    </li>
  </ul>
</nav>
