<% title t('.page_title') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= t '.page_title' %></h1>
    <p class="govuk-body"><%= t '.content_line_1' %></p>
    <p class="govuk-body"><%= t '.content_line_2' %></p>
    <p class="govuk-body"><%= t('.content_line_3_html', link:
      link_to(t('.eforms'), "https://lsconlinesso.legalservices.gov.uk/",
            class: 'govuk-link',
            role: 'link',
            target: '_blank')) %>
    </p>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_start_button(text: t('.start'), href: your_prior_authority_applications_path, as_button: false, html_attributes: { data: { turbo: "false"}}) %>
  </div>
</div>
