<% title t('.page_title') %>

<%= render partial: 'nsm/claims/claim_summary', locals: { claim:, claim_summary: } %>
<%= render partial: 'nsm/claims/claim_nav', locals: { claim: claim, current_page: 'adjustments' } %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-heading-l">
        <%= t('.adjusted_costs') %>
      </h2>

      <%= govuk_button_link_to( t('.delete_all_adjustments'), confirm_deletion_nsm_claim_adjustments_path(claim), secondary: true,  data: { turbo: "false" }) %>

      <ul class="govuk-tabs__list" id="tabs">
        <li class="govuk-tabs__list-item <%= 'govuk-tabs__list-item--selected' if scope == :work_items %>">
          <%= link_to t('.work_items'), adjusted_nsm_claim_work_items_path(claim, anchor: :tabs) %>
        </li>
        <li class="govuk-tabs__list-item <%= 'govuk-tabs__list-item--selected' if scope == :letters_and_calls %>">
          <%= link_to t('.letters_and_calls'), adjusted_nsm_claim_letters_and_calls_path(claim, anchor: :tabs) %>
        </li>
        <li class="govuk-tabs__list-item <%= 'govuk-tabs__list-item--selected' if scope == :disbursements %>">
          <%= link_to t('.disbursements'), adjusted_nsm_claim_disbursements_path(claim, anchor: :tabs) %>
        </li>
      </ul>

      <div class="govuk-tabs__panel">
        <h3 class="govuk-heading-m">
          <%= t(".#{scope}") %>
        </h3>

        <%= render partial: "nsm/#{scope}/adjusted", locals: { claim:, records:, pagy: } %>
      </div>
    </div>
    <%= render partial: 'shared/claim_button_group', locals: { claim: claim } %>
  </div>
</div>
