<turbo-frame id="work_items">
  <h3 class="govuk-heading-m">
    <%= t('.work_items') %>
  </h3>

  <% if travel_and_waiting.any? %>
    <div class="govuk-body-m">
      <%= t('.travel_and_waiting') %>
      <div class="govuk-heading-l">
        <%= travel_and_waiting.total_cost %>
      </div>
    </div>

    <%= govuk_details(summary_text: t('.check_totals')) do %>
      <%=
        head = [t('.items'), t('.total_cost'), t('.total_time')]
        rows = travel_and_waiting.table_fields
        govuk_table(first_cell_is_header: true, head:, rows:)
      %>
    <% end %>
  <% end %>

  <%= button_to(t(".remove_uplift_all"), '#', class: "govuk-button govuk-button--secondary", data_module: "govuk-button") %>


  <% work_items.each do |completed_on, work_items_for_date| %>
    <%=
      head = [t('.type_of_work'), t('.uplift_request'), t('.requested'), t('.uplift_allowed'), t('.allowed')]


      rows = work_items_for_date.map do |work_item|
        [*work_item.table_fields, { text: link_to(t('.change'), edit_claim_work_item_path(claim_id: claim.id, id: work_item.work_type.value), data: { turbo: 'false' }) }]
      end
      govuk_table(caption: completed_on.strftime('%-d %B %Y'), head:, rows:)
    %>
  <% end %>
</turbo-frame>
