<% title t('.page_title') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_error_summary(decision) %>
    <h1 class="govuk-heading-xl"><%= t('.heading') %></h1>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: decision, url: nsm_claim_make_decision_path(claim_id: claim.id), method: :put, id: dom_id(decision) do |f| %>
      <%= f.govuk_radio_buttons_fieldset :state, legend: { size: 's' } do %>
        <%= f.govuk_radio_button :state, Nsm::MakeDecisionForm::GRANTED  do %>
          <%= f.govuk_text_area :grant_comment, width: 'one-third', autocomplete: 'off', label: { size: 's' } %>
        <% end %>
        <%= f.govuk_radio_button :state, Nsm::MakeDecisionForm::PART_GRANT do %>
          <%= f.govuk_text_area :partial_comment, width: 'one-third', autocomplete: 'off', label: { size: 's' } %>
        <% end %>
        <%= f.govuk_radio_button :state, Nsm::MakeDecisionForm::REJECTED do %>
          <%= f.govuk_text_area :reject_comment, width: 'one-third', autocomplete: 'off', label: { size: 's' } %>
        <% end %>
      <% end %>

      <%= f.govuk_submit(t('.submit')) do %>
        <%= f.hidden_field :id %>
        <%= link_to 'Cancel', nsm_claim_claim_details_path(claim), class: 'govuk-button__secondary' %>
      <% end %>

    <% end %>
  </div>
</div>
