<%= govuk_details(summary_text: t('.check_totals')) do %>
  <%=
    caption = t('.summary_table_caption')
    head = summary.header
    rows = summary.table_fields
    foot = summary.footer
    govuk_table(first_cell_is_header: true) do |t|
      t.with_caption(text: caption, classes: ['govuk-visually-hidden'])
      t.with_head(rows: [head])
      t.with_body(rows: rows, first_cell_is_header: true)
      t.with_foot(rows: foot, first_cell_is_header: true)
    end
  %>
<% end %>

<% if claim.editable_by?(current_user) && records.any? { |work_item| work_item.uplift&.positive? } %>
  <%= govuk_button_link_to(t(".remove_uplift_all"), edit_nsm_claim_work_items_uplift_path(claim), secondary: true, data: { turbo: 'false' }) %>
<% end %>

<table class="govuk-table data-table" data-module="moj-sortable-table">
  <caption class="govuk-visually-hidden"><%= t('.table_caption') %></caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <% Nsm::V1::WorkItem.headers.each_with_index do |(column_key, additional_classes), index| %>
        <%= table_header_with_form(column_key,
                                    "nsm.work_items.index",
                                    index,
                                    nsm_claim_work_items_path(claim),
                                    @sort_by,
                                    @sort_direction,
                                    additional_classes: ) %>
      <% end %>
    </tr>
  </thead>

  <tbody class="govuk-table__body app-task-list__items">
    <% type_changed_records = [] %>
    <% records.each do |work_item| %>
      <tr id="<%= work_item.id %>" class="govuk-table__row app-task-list__item">
        <th class="govuk-table__header" scope="row"><%= work_item.position %></th>
        <th class="govuk-table__header" scope="row">
          <% link = url_for(controller: 'nsm/work_items',
                            action: claim.editable_by?(current_user) ? :edit : :show,
                            claim_id: claim.id, id: work_item.id, only_path: true) %>
          <% if work_item.original_work_type != work_item.work_type %>
            <% type_changed_records << work_item %>
            <span title="<%= t('nsm.work_items.type_changes.item_type_adjusted') %>">
              <%= link_to(work_item.work_type, link, data: { turbo: 'false' }) %>
            </span>
            <sup><a href="#fn<%= type_changed_records.length %>">[<%= type_changed_records.length %>]</a></sup>

          <% else %>
            <%= link_to(work_item.work_type, link, data: { turbo: 'false' }) %>
          <% end %>
        </th>

        <td class="govuk-table__cell govuk-table__cell--nowrap"><%= work_item.formatted_completed_on %></td>
        <td class="govuk-table__cell"><%= work_item.fee_earner %></td>

        <td class="govuk-table__cell govuk-table__cell--numeric">
          <%= work_item.formatted_time_spent %>
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric">
          <%= work_item.formatted_uplift %>
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric">
          <%= work_item.formatted_requested_amount %>
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric">
          <%= work_item.formatted_allowed_amount %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render 'shared/pagination', pagy: pagy, item: t(".table_info_item") %>

<% if type_changed_records.any? %>
  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
  <section>
    <% type_changed_records.each_with_index do |work_item, index| %>
      <p id="fn<%= index + 1 %>">
        <%= link_to "[#{index + 1}]", "##{work_item.id}" %>
        <%= t('nsm.work_items.type_changes.item_type_adjusted') %>
        <%= t('nsm.work_items.type_changes.see') %>
        <% link = url_for(controller: 'nsm/work_items',
                          action: claim.editable_by?(current_user) ? :edit : :show,
                          claim_id: claim.id, id: work_item.id, only_path: true) %>
        <%= link_to(t('nsm.work_items.type_changes.item', position: work_item.position),
                    link, data: { turbo: 'false' }) %>
      </p>
    <% end %>
  </section>
<% end %>
