<% title t('.page_title') %>

<turbo-frame id="work_items">
  <h3 class="govuk-heading-m">
    <%= t('.work_items') %>
  </h3>


  <%= govuk_details(summary_text: t('.check_totals')) do %>
    <%=
      head = work_item_summary.header
      rows = work_item_summary.table_fields
      foot = work_item_summary.footer
      govuk_table(first_cell_is_header: true, head:, rows:, foot:)
    %>
  <% end %>

  <% if claim.editable? && work_items.any? { |work_item| work_item.uplift&.positive? } %>
    <%= govuk_button_link_to(t(".remove_uplift_all"), edit_nsm_claim_work_items_uplift_path(claim), secondary: true, data: { turbo: 'false' }) %>
  <% end %>

  <% work_items.group_by(&:completed_on).each do |completed_on, work_items_for_date| %>
    <%=
      head = [t('.type_of_work'), t('.uplift_request'), t('.requested'), t('.uplift_allowed'), t('.allowed'), t('.action')]

      rows = work_items_for_date.map do |work_item|
        link = if claim.editable?
                  link_to(t('.change'), edit_nsm_claim_work_item_path(claim_id: claim.id, id: work_item.id), data: { turbo: 'false' })
                else
                  link_to(t('.view'), nsm_claim_work_item_path(claim_id: claim.id, id: work_item.id), data: { turbo: 'false' })
                end
        [
          *work_item.table_fields,
          link
        ]
      end

      govuk_table do |table|
        table.with_caption(text: completed_on.strftime('%-d %B %Y'), size: 's')
        table.with_head(rows: [head])
        table.with_body(rows: rows, first_cell_is_header: true)
      end
    %>
  <% end %>
</turbo-frame>
