<% title t('.page_title') %>

<turbo-frame id="work_items">
  <h3 class="govuk-heading-m">
    <%= t('.work_items') %>
  </h3>


  <%= govuk_details(summary_text: t('.check_totals')) do %>
    <%=
      head = work_item_summary.header
      rows = work_item_summary.table_fields
      foot = work_item_summary.footer
      govuk_table(first_cell_is_header: true, head:, rows:, foot:)
    %>
  <% end %>

  <% if claim.editable_by?(current_user) && work_items.any? { |work_item| work_item.uplift&.positive? } %>
    <%= govuk_button_link_to(t(".remove_uplift_all"), edit_nsm_claim_work_items_uplift_path(claim), secondary: true, data: { turbo: 'false' }) %>
  <% end %>

  <table class="govuk-table" data-module="moj-sortable-table" aria-describedby="page-title">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <% Nsm::V1::WorkItem.headers.each_with_index do |(column_key, additional_classes), index| %>
          <%= table_header(column_key,
                          "nsm.work_items.index",
                          index,
                          nsm_claim_work_items_path(claim),
                          @sort_by,
                          @sort_direction,
                          additional_classes: ) %>
        <% end %>
      </tr>
    </thead>

    <tbody class="govuk-table__body app-task-list__items">
      <% work_items.each do |work_item| %>
        <tr class="govuk-table__row app-task-list__item">
          <th class="govuk-table__header"><%= work_item.position %></th>
          <td class="govuk-table__cell">
            <%=
              if claim.editable_by?(current_user)
                link_to(work_item.work_type, edit_nsm_claim_work_item_path(claim_id: claim.id, id: work_item.id), data: { turbo: 'false' })
              else
                link_to(work_item.work_type, nsm_claim_work_item_path(claim_id: claim.id, id: work_item.id), data: { turbo: 'false' })
              end
            %>
          </td>

          <td class="govuk-table__cell"><%= work_item.formatted_completed_on %></td>
          <td class="govuk-table__cell"><%= work_item.fee_earner %></td>

          <td class="govuk-table__cell govuk-table__cell--numeric">
            <%= work_item.formatted_time_spent %>
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <%= work_item.formatted_uplift %>
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <%= work_item.formatted_requested_amount %>
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <%= work_item.formatted_allowed_amount %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= render 'shared/pagination', pagy: pagy, item: t(".table_info_item") %>
</turbo-frame>
