<% title t('.page_title') %>

<% content_for(:back_link) do %>
  <%= link_to t('helpers.back_link'), :back, class: 'govuk-back-link', data: { turbo: 'false' } %>
<% end %>

<div class="govuk-grid-row" id="work-items-adjustment-container">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">
        <%= t('.heading', count: item.any_adjustments? ? 1 : 0) %>
    </h1>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l"><%= t('.provider_submission') %></h2>

    <%=
      rows = item.provider_fields.map do |key, value|
        [{ text: t(key), width: 'govuk-!-width-one-half' }, value]
      end
      govuk_table(head: '', first_cell_is_header: true, rows:) do |tab|
        tab.with_caption(text: item.work_type.to_s, size: 'm')
      end
    %>

    <% if item.any_adjustments? %>
      <h2 class="govuk-heading-l"><%= t('.laa_adjustments') %></h2>

      <%=
        work_type_row = if item.attendance?
                          [[t('.work_type'), item.work_type.to_s]]
                        else
                          []
                        end
        rows = [
          [{ text: t('.uplift_allowed'), width: 'govuk-!-width-one-half' }, "#{item.uplift}%"],
          *work_type_row,
          [t('.time_spent_changed'), format_period(item.time_spent)],
          [t('.caseworker_allowed'), NumberTo.pounds(item.caseworker_amount)],
          [t('.explanation'), item.adjustment_comment],
        ]

        govuk_table(head: '', first_cell_is_header: true, rows:)
      %>
    <% end %>

    <%= link_to t('shared.cancel'), :back, class: 'govuk-link', data: { turbo: 'false' } %>
  </div>
</div>
