<% title t('.page_title') %>

<% content_for(:back_link) do %>
  <%= link_to t('helpers.back_link'), "", id: "back-button", class: 'govuk-back-link', data: { turbo: 'false' } %>
<% end %>

<div class="govuk-grid-row" id="work-items-adjustment-container">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">
        <%= t('.heading') %>
    </h1>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l"><%= t('.provider_submission') %></h2>

    <%=
      rows = item.provider_fields.map do |key, value|
        [{ text: t(key), width: 'govuk-!-width-one-half' }, value]
      end
      govuk_table(head: '', rows:) do |tab|
        tab.with_caption(text: t('.claimed_costs_summary'), classes: 'govuk-visually-hidden')
      end
    %>

    <% if item.any_adjustments? %>
      <h2 class="govuk-heading-l"><%= t('.laa_adjustments') %></h2>

      <%=
        rows = [
          [{ text: t('.work_type'), width: 'govuk-!-width-one-half' }, item.work_type.to_s],
          [t('.time_spent_changed'), format_period(item.time_spent)],
          [{ text: t('.uplift_allowed'), width: 'govuk-!-width-one-half' }, "#{item.uplift}%"],
          [t('.caseworker_allowed'), NumberTo.pounds(item.caseworker_amount)],
          [t('.explanation'), item.adjustment_comment],
        ]

        govuk_table(head: '', rows:)
      %>
    <% end %>
  </div>
</div>
