<h2 class="govuk-heading-m"><%= t('.travel_cost') %></h2>

<% quote = application_summary.travel_cost %>

<% if quote.travel_adjustment_comment %>
  <div class="govuk-inset-text">
    <%= simple_format quote.travel_adjustment_comment %>
  </div>
<% end %>

<% if quote.travel_cost_reason %>
  <p><%= t(".cost_description") %></p>
  <%= simple_format quote.travel_cost_reason %>
<% end %>

<%= govuk_table(id: 'travel_costs') do |table|
      table.with_head do |head|
        head.with_row do |row|
          row.with_cell(text: t('.details'))
          row.with_cell(text: t('.requested'))
          row.with_cell(text: t('.adjusted'))
        end
      end

      table.with_body do |body|
        body.with_row do |row|
          row.with_cell(text: t('.time'))
          row.with_cell(text: quote.requested_travel_units)
          row.with_cell(text: quote.adjusted_travel_units)
        end

        body.with_row do |row|
          row.with_cell(text: t('.cost'))
          row.with_cell(text: quote.requested_formatted_travel_cost_per_hour)
          row.with_cell(text: quote.adjusted_formatted_travel_cost_per_hour)
        end

        body.with_row do |row|
          row.with_cell(text: t('.total'))
          row.with_cell(text: quote.requested_formatted_travel_cost)
          row.with_cell(text: quote.adjusted_formatted_travel_cost)
        end
      end
    end %>
<% if editable %>
  <div class="govuk-button-group govuk-button-group-vertically-centred">
    <%= link_to t(".adjust_travel_cost"),
                edit_prior_authority_application_travel_cost_path(application, quote.id),
                data: { turbo: false },
                class: 'govuk-button govuk-button--secondary' %>
    <% if quote.any_travel_adjustments? %>
      <%= link_to t(".delete"),
                  confirm_deletion_prior_authority_application_travel_cost_path(application, quote.id),
                  class: "govuk-link govuk-link--no-visited-state" %>
    <% end %>
  </div>
<% end %>
