<% content_for(:primary_navigation) do %>
  <% render 'layouts/prior_authority/primary_navigation', current: application_summary.current_section(current_user) %>
<% end %>
<% title t('.page_title') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
      <%= render 'prior_authority/shared/application_nav', application_summary:, current_page: 'adjust_quote' %>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m"><%= editable ? t('.adjust_quote') :  t('.adjustments') %></h2>

    <%= render 'key_information_card', model: @key_information.key_information_card %>
    <%= render 'service_costs', application_summary:, application:, editable: %>

    <% if application_summary.primary_quote.travel_costs(original: true).positive? %>
      <%= render 'travel_costs', application_summary:, application:, editable: %>
    <% end %>

    <%= render 'additional_costs', additional_costs: core_cost_summary.additional_costs, application:, editable: %>
    <% if editable %>
      <%= render 'prior_authority/shared/application_buttons', application_summary: %>
    <% end %>
  </div>
</div>
