<% content_for(:page_title) do %>
  <%= claim_summary.laa_reference %>
<% end %>
<%= render partial: 'nsm/claims/claim_summary', locals: { claim:, claim_summary: } %>
<%= render partial: 'nsm/claims/claim_nav', locals: { claim: claim, current_page: 'claim_details' } %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l"><%= t('.overview') %></h2>

    <% if claim.sent_back? || claim.expired? %>
      <div class="govuk-inset-text">
        <p><strong><%= t(".sent_back", date: claim_summary.sent_back_on.to_fs(:stamp)) %></strong></p>
        <%= t(".further_information_request") %>
        <%= simple_format claim_summary.assessment_comment %>
      </div>
    <% elsif claim.provider_updated? %>
      <div class="govuk-inset-text">
        <p><strong><%= t(".provider_updated", date: format_in_zone(claim.data['updated_at'])) %></strong></p>
        <%= govuk_link_to t('.further_information'), '#further-info' %>
      </div>
    <% elsif claim.assessed? && claim_summary.assessment_comment.present? %>
      <div class="govuk-inset-text">
        <p><strong><%= t(".assessed_statuses.#{claim.state}") %></strong></p>
        <%= simple_format claim_summary.assessment_comment %>
        <% if claim.part_grant? %>
          <ul class="govuk-list">
          <% if claim.any_work_items_adjusted? %>
            <li> <%= link_to t('.review_adjustments', items: t('.item_types.work_items')), adjusted_nsm_claim_work_items_path(claim, anchor: :tabs) %></li>
          <% end %>
          <% if claim.any_letters_or_calls_adjusted? %>
            <li> <%= link_to t('.review_adjustments', items: t('.item_types.letters_and_calls')), adjusted_nsm_claim_letters_and_calls_path(claim, anchor: :tabs) %></li>
          <% end %>
          <% if claim.any_disbursements_adjusted? %>
            <li> <%= link_to t('.review_adjustments', items: t('.item_types.disbursements')), adjusted_nsm_claim_disbursements_path(claim, anchor: :tabs) %></li>
          <% end %>
          <% if claim.any_additional_fees_adjusted? %>
            <li> <%= link_to t('.review_adjustments', items: t('.item_types.additional_fees')), adjusted_nsm_claim_additional_fees_path(claim, anchor: :tabs) %></li>
          <% end %>
          <ul>
        <% end %>
      </div>
    <% end %>

    <% claim_details.table.each do |section| %>
      <%= govuk_summary_list(card: { title: section[:title] }) do |table|
              section[:data].each do | field |
                table.with_row do |row|
                  row.with_key(text: field[:title])
                  row.with_value(text: field[:value])
                end
              end
      end %>
    <% end %>
    <% if provider_updates %>
      <h2 class="govuk-heading-m" id="further-info"><%= t('.provider_updates') %> </h2>
      <% provider_updates.each do |further_information| %>
        <%= govuk_summary_list(card: { title: further_information.title }, actions: false) do |table|
          further_information.data.each do | field |
            table.with_row do |row|
              row.with_key(text: field[:title])
              row.with_value(text: field[:value])
            end
          end
        end %>
      <% end %>
    <% end %>
    <%= render partial: 'shared/claim_button_group', locals: { claim: claim } %>
  </div>
</div>
