<% content_for(:page_title) do %>
  <%= claim_summary.laa_reference %>
<% end %>
<%= render partial: 'nsm/claims/claim_summary', locals: { claim:, claim_summary: } %>
<%= render partial: 'nsm/claims/claim_nav', locals: { claim: claim, current_page: 'claim_details' } %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l"><%= t('.overview') %></h2>

    <% if claim_summary.assessment_comment.present? %>
      <div class="govuk-inset-text">
        <p><strong><%= t(".assessed_statuses.#{claim.state}") %></strong></p>
        <p> <%= simple_format claim_summary.assessment_comment %></p>
        <% if claim.part_grant? %>
          <p> <%= link_to t('.review_adjustments'), nsm_claim_adjustments_path(claim) %></p>
        <% end %>
      </div>
    <% end %>

    <% claim_details.table.each do |section| %>
      <%= govuk_summary_list(card: { title: section[:title] }) do |table|
              section[:data].each do | field |
                table.with_row do |row|
                  row.with_key(text: field[:title])
                  row.with_value(text: field[:value])
                end
              end
      end %>
    <% end %>
    <%= render partial: 'shared/claim_button_group', locals: { claim: claim } %>
  </div>
</div>
