<% content_for(:primary_navigation) do %>
  <% render 'layouts/prior_authority/primary_navigation', current: application_summary.current_section(current_user) %>
<% end %>
<% title t('.page_title') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
      <%= render 'prior_authority/shared/application_nav', application_summary:, current_page: 'application_history' %>
  </div>
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m"><%= t('.page_title') %></h2>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
          <table class="govuk-table" data-module="moj-sortable-table" aria-describedby="page-title">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class='govuk-table__header' scope='col'>
                  <%= t('.date') %>
                </th>
                <th class='govuk-table__header' scope='col'>
                  <%= t('.caseworker') %>
                </th>
                <th class='govuk-table__header' scope='col'>
                  <%= t('.update') %>
                </th>
              </tr>
            </thead>

            <tbody class="govuk-table__body app-task-list__items">
              <% events.each do |event| %>
                <tr class="govuk-table__row app-task-list__item">
                  <td class="govuk-table__cell">
                    <%= event.timestamp %>
                  </td>
                  <td class="govuk-table__cell">
                    <%= event.caseworker_name %>
                  </td>
                  <td class="govuk-table__cell">
                    <strong>
                      <%= event.heading %>
                    </strong>
                    <% if event.comment? %>
                      <br>
                      <%= event.comment %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <%= render 'shared/pagination', pagy: pagy, item: t("prior_authority.applications.table.table_info_item") %>
      </div>
    </div>

    <% if editable %>
      <%= render 'prior_authority/shared/application_buttons', application_summary: %>
    <% end %>
  </div>
</div>
