<% content_for(:primary_navigation) do %>
  <% render 'layouts/prior_authority/primary_navigation', current: @summary.current_section(current_user) %>
<% end %>

 <% title t('.page_title') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        <%= t('.page_title') %>
      </h1>
    </div>
    <p><%= t('.sent_to_provider') %></p>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('.laa_reference') %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @decision.laa_reference %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('.laa_decision') %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= t(".decisions.#{@decision.state}") %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('.comments') %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= multiline_text(@decision.comments.presence) || t('.no_comments') %>
        </dd>
      </div>
    </dl>

    <div class="govuk-button-group govuk-button-group-vertically-centred">
      <%= govuk_button_to(t('.next_application'), prior_authority_auto_assignments_path) %>
      <%= govuk_link_to(t('.return'), prior_authority_application_path(@summary.id)) %>
    </div>
  </div>
</div>
