<% title t('.page_title') %>
<%# headers needed here to pass accibility tests (not sure why this doesn't affect work items screen) %>
<%# headers do not appear in the screen as only the page inside 'turbo-frame' is rendered %>
<h1><%= t('.page_title') %></h1>
<h2><%= t('.page_title') %></h1>

<turbo-frame id="letters_and_calls">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h3 class="govuk-heading-m">
      <%= t('.heading') %>
    </h3>
    <% if claim.editable? && letters_and_calls.uplift? %>
      <%= govuk_button_link_to(t(".remove_uplift_all"), edit_nsm_claim_letters_and_calls_uplift_path(claim), secondary: true, data: { turbo: 'false' }) %>
    <% end %>
  </div>
  <div class="govuk-grid-column-full">
    <% if letters_and_calls.rows.all? { _1.original_count.zero? } %>
      <p>You do not have any letters or calls</p>
    <% else %>
      <%=
      head = Nsm::V1::LetterAndCall.headers

      rows = letters_and_calls.rows.map do |letter_and_call|
        next if letter_and_call.original_count.zero?

        link = if claim.editable?
                  link_to(t('.change'), edit_nsm_claim_letters_and_call_path(claim_id: claim.id, id: letter_and_call.type.value), data: { turbo: 'false' })
                else
                  link_to(t('.view'), nsm_claim_letters_and_call_path(claim_id: claim.id, id: letter_and_call.type.value), data: { turbo: 'false' })
                end

        [
          *letter_and_call.table_fields,
          link
        ]
      end
      govuk_table(head:, rows:)
      %>
    <% end %>
  </div>
</div>
</turbo-frame>
