<% title t('.page_title') %>

<% content_for(:back_link) do %>
  <%=# Did we come from a page in the app?
  has_referrer = @referrer.nil?

  # Did we just reload the same page?
  came_from_current_path =
    url_for == nsm_claim_letters_and_call_path(claim.id, item.id)

  link_to t("helpers.back_link"),
  (
    if has_referrer || came_from_current_path
      item.backlink_path(claim)
    else
      "#{@referrer}##{item.id}"
    end
  ),
  class: "govuk-back-link" %>
<% end %>

<div class="govuk-grid-row" id="letters-and-calls-adjustment-container">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl govuk-heading-capitalize">
        <%= t('.heading', type: item.type_name, count: item.any_adjustments? ? 1 : 0) %>
    </h1>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <%=
      rows = [
        [{ text: t('.number', type: item.type_name), width: 'govuk-!-width-one-half' }, item.original_count.to_s],
        [t('.rate'), NumberTo.pounds(item.pricing)],
        [t('.uplift_requested'), "#{item.original_uplift.to_i}%"],
        [t('.total_claimed'), NumberTo.pounds(item.provider_requested_amount)]
      ]
      govuk_table(head: '', first_cell_is_header: true, rows:) do |table|
        table.with_caption(text: t('.provider_submission'), size: 'l')
      end
    %>

    <% if item.any_adjustments? %>
      <%=
        rows = [
          [{ text: t('.uplift_allowed'), width: 'govuk-!-width-one-half' }, "#{item.uplift}%"],
          [t('.number_allowed', type: item.type_name), item.count.to_s],
          [t('.casewoker_allowed'), NumberTo.pounds(item.caseworker_amount)],
          [t('.explanation'), item.adjustment_comment],
        ]
        govuk_table(head: '', first_cell_is_header: true, rows:) do |table|
          table.with_caption(text: t('.laa_adjustments'), size: 'l' )
        end
      %>
    <% end %>
    <%= link_to t('shared.cancel'), :back, class: 'govuk-link', data: { turbo: 'false' } %>
  </div>
</div>
