<% if records.size.zero? %>
  <p><%= t('.no_data') %></p>
<% else %>
  <table class="govuk-table" data-module="moj-sortable-table">
    <caption class="govuk-visually-hidden"><%= t('.table_caption') %></caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <% Nsm::V1::Disbursement.adjusted_headers.each_with_index do |(column_key, additional_classes), index| %>
          <% if column_key == 'reason' %>
            <th class="govuk-table__header" scope="col"><%= t(".#{column_key}") %></th>
          <% else %>
            <%= table_header_with_form(column_key,
                                        "nsm.disbursements.adjusted",
                                        index,
                                        adjusted_nsm_claim_disbursements_path(claim),
                                        @sort_by,
                                        @sort_direction,
                                        additional_classes:) %>
          <% end %>
        <% end %>
        <% unless claim.assessed? %>
          <th class="govuk-table__header" scope="col"><%= t(".action") %></th>
        <% end %>
      </tr>
    </thead>
    <tbody class="govuk-table__body app-task-list__items">
      <% records.each do |disbursement| %>
        <tr id="<%= disbursement.id %>" class="govuk-table__row app-task-list__item">
          <th class="govuk-table__header" scope="row"><%= disbursement.position %></th>
          <th class="govuk-table__header" scope="row">
            <%=
              if claim.editable_by?(current_user)
                link_to(disbursement.type_name, edit_nsm_claim_disbursement_path(claim_id: claim.id, id: disbursement.id), data: { turbo: 'false' })
              else
                link_to(disbursement.type_name, nsm_claim_disbursement_path(claim_id: claim.id, id: disbursement.id), data: { turbo: 'false' })
              end
            %>
          </th>

          <td class="govuk-table__cell"><%= disbursement.reason %></td>

          <td class="govuk-table__cell govuk-table__cell--numeric">
            <%= disbursement.allowed_net %>
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <%= disbursement.allowed_vat %>
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <%= disbursement.allowed_gross %>
          </td>
          <% unless claim.assessed? %>
            <td class="govuk-table__cell">
              <%= link_to t(".delete"),
                confirm_deletion_nsm_claim_disbursement_path(claim, disbursement.id),
                class: "govuk-link govuk-link--no-visited-state" %>
            </td>
         <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= render 'shared/pagination', pagy: pagy, item: t(".table_info_item") %>
<% end %>
