<% content_for(:primary_navigation) do %>
  <% render 'layouts/prior_authority/primary_navigation', current: @summary.current_section(current_user) %>
<% end %>
<% title t('.page_title') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render 'prior_authority/shared/application_nav', application_summary: @summary, current_page: 'overview' %>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m"><%= t('.overview') %></h2>
    <% if @details.assessment_comment.present? %>
      <div class="govuk-inset-text">
        <p><strong><%= t(".assessed_statuses.#{@details.submission.state}") %></strong></p>
        <p> <%= @details.assessment_comment %></p>
        <% if @details.submission.state == 'part_grant' %>
          <p> <%= link_to t('.review_adjustments'), prior_authority_application_adjustments_path(@summary.id) %></p>
        <% end %>
      </div>
    <% end %>
    <%= render 'overview_card', model: @details.overview_card %>

    <h2 class="govuk-heading-m"><%= t('.about_the_request') %></h2>
    <%= render 'primary_quote_card', model: @details.primary_quote_card %>
    <%= render 'reason_why_card', model: @details.reason_why_card %>
    <% @details.alternative_quote_cards.each_with_index do |alternative_quote_card, index| %>
      <%= render alternative_quote_card.class.name.split('::').last.underscore, model: alternative_quote_card, n: index + 1 %>
    <% end %>

    <h2 class="govuk-heading-m"><%= t('.about_the_case') %></h2>
    <%= render 'client_details_card', model: @details.client_details_card %>
    <% if @details.prison_law %>
      <%= render 'next_hearing_card', model: @details.next_hearing_card %>
    <% else %>
      <%= render 'case_details_card', model: @details.case_details_card %>
      <%= render 'hearing_details_card', model: @details.hearing_details_card %>
    <% end %>

    <h2 class="govuk-heading-m"><%= t('.contact_details') %></h2>
    <%= render 'case_contact_card', model: @details.case_contact_card %>

    <% if @summary.can_edit?(current_user) %>
      <%= render 'prior_authority/shared/application_buttons', application_summary: @summary %>
    <% end %>
  </div>
</div>
