<% content_for(:primary_navigation) do %>
  <% render 'layouts/prior_authority/primary_navigation', current: @summary.current_section(current_user) %>
<% end %>
<% title t('.page_title') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render 'prior_authority/shared/application_nav', application_summary: @summary, current_page: 'overview' %>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m"><%= t('.overview') %></h2>
    <% if @summary.assessed? && @details.assessment_comment.present? %>
      <div class="govuk-inset-text">
        <p><strong><%= t(".assessed_statuses.#{@details.submission.state}") %></strong></p>
        <p> <%= simple_format @details.assessment_comment %></p>
        <% if @details.submission.part_grant? %>
          <p> <%= link_to t('.review_adjustments'), prior_authority_application_adjustments_path(@summary.id) %></p>
        <% end %>
      </div>
    <% elsif @summary.sent_back? || @summary.expired? %>
      <div class="govuk-inset-text">
        <p><strong><%= t(".sent_back", date: @summary.date_updated_str) %></strong></p>
        <% if @details.further_information_requested? %>
          <p><%= t('.further_information') %></p>
          <%= simple_format @details.further_information_explanation %>
        <% end %>
        <% if @details.corrections_requested? %>
          <p><%= t('.incorrect_information') %></p>
          <%= simple_format @details.incorrect_information_explanation %>
        <% end %>
      </div>
    <% elsif @summary.provider_updated? %>
      <div class="govuk-inset-text">
        <p><strong><%= t(".provider_updated", date: @summary.date_updated_str) %></strong></p>
        <ul class="govuk-list">
          <% if @details.provider_added_further_information? %>
            <li>
              <%= link_to t('.further_information_provided'), '#further-information-1', class: "govuk-link--no-visited-state" %>
            </li>
          <% end %>
          <% if @details.provider_corrected_information? %>
            <li>
              <%= link_to t('.corrected_information_provided'), '#incorrect-information-1', class: "govuk-link--no-visited-state" %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= render 'overview_card', model: @details.overview_card %>

    <h2 class="govuk-heading-m"><%= t('.about_the_request') %></h2>
    <%= render 'primary_quote_card', model: @details.primary_quote_card, editable: policy(@summary.submission).update? %>
    <%= render 'reason_why_card', model: @details.reason_why_card %>
    <% @details.alternative_quote_cards.each_with_index do |alternative_quote_card, index| %>
      <%= render alternative_quote_card.class.name.split('::').last.underscore, model: alternative_quote_card, n: index + 1 %>
    <% end %>

    <h2 class="govuk-heading-m"><%= t('.about_the_case') %></h2>
    <%= render 'client_details_card', model: @details.client_details_card %>
    <% if @details.prison_law %>
      <%= render 'next_hearing_card', model: @details.next_hearing_card %>
    <% else %>
      <%= render 'case_details_card', model: @details.case_details_card %>
      <%= render 'hearing_details_card', model: @details.hearing_details_card %>
    <% end %>

    <h2 class="govuk-heading-m"><%= t('.contact_details') %></h2>
    <%= render 'case_contact_card', model: @details.case_contact_card %>

    <% if @details.information_cards.any? %>
      <h2 class="govuk-heading-m"><%= t('.further_information_request') %></h2>
      <% @details.information_cards.each do |information_card, position| %>
        <%= render information_card.partial, model: information_card, n: position %>
      <% end %>
    <% end %>

    <% if policy(@summary.submission).update? %>
      <%= render 'prior_authority/shared/application_buttons', application_summary: @summary %>
    <% end %>
  </div>
</div>
