<% content_for(:primary_navigation) do %>
  <% render 'layouts/prior_authority/primary_navigation', current: application_summary.current_section(current_user) %>
<% end %>
<% title t('.page_title') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
      <%= render 'prior_authority/shared/application_nav', application_summary:, current_page: 'related_applications' %>
  </div>
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m"><%= t('.page_title') %></h2>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <% if @applications.none? %>
          <p class="govuk-body-m"><%= t('.no_applications') %></p>
        <% else %>
          <p class="govuk-body-m"><%= t('.new_tab') %></p>
          <%= render 'table',
                    path: prior_authority_application_related_applications_path,
                    columns: {
                        laa_reference: :laa_reference,
                        client_name: :client_name,
                        caseworker: :caseworker,
                        service_name: :service_name,
                        date_updated: :date_updated_str,
                        status: :status
                    } %>
        <% end %>
      </div>
    </div>

    <% if editable %>
      <%= render 'prior_authority/shared/application_buttons', application_summary: %>
    <% end %>
  </div>
</div>

