  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <% if show_tag_on_details_page?(claim) %>
        <p>
          <%= submission_state_tag(claim) %>
        </p>
      <% end %>
      <p class="govuk-caption-xl">
        <%= claim_summary.laa_reference %>
      </p>
      <h1 class="govuk-heading-xl">
        <%= claim_summary.main_defendant_name %>
      </h1>
      <p>
        <span class="govuk-body-l">
          <strong><%= t('.claimed') %></strong>
          <%= claim_summary.claimed_total %>
          <br>
        </span>
         <% if claim_summary.display_allowed_total? %>
          <span class="govuk-body-l">
            <strong><%= t('.allowed') %></strong>
            <%= claim_summary.allowed_total %>
          </span>
        <% end %>
      </p>

      <p class="govuk-body-l">
        <%= t(".risk.#{claim.risk}") %>
        <% if claim.editable_by?(current_user) %>
          <%= link_to t('.risk.change'), edit_nsm_claim_change_risk_path(claim), class: 'govuk-!-font-size-19 govuk-!-margin-left-2' %>
        <% end %>
      </p>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body-m govuk-!-margin-bottom-2">
        <span class="govuk-!-font-weight-bold"><%= t(".assigned_to") %></span>
        <%= claim_summary.assigned_to&.display_name || t(".unassigned") %>
      </p>
      <p class="govuk-body-m govuk-!-margin-bottom-2">
        <span class="govuk-!-font-weight-bold"><%= t(".date_received") %></span>
        <%= format_in_zone(claim.received_on, format:'%d %b %Y') %>
      </p>
      <% unless claim.editable_by?(current_user) %>
        <p class="govuk-body-m govuk-!-margin-bottom-2">
          <span class="govuk-!-font-weight-bold"><%= t(".date_assessed") %></span>
          <%= format_in_zone(claim_summary.assessed_on, format:'%d %b %Y') %>
        </p>
      <% end %>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <% if claim.editable_by?(current_user) %>
        <%=
          govuk_link_to(
            t( ".remove_from_list"),
            nsm_claim_unassignment_path(claim),
            class: "govuk-button govuk-button--secondary",
            data_module: "govuk-button"
          )
        %>
      <% elsif !claim.assessed? %>
        <%= govuk_button_link_to(
            t(".add_to_my_list"),
            new_nsm_claim_assignment_path(claim),
            secondary: true
          ) %>
      <% end %>
    </div>
  </div>
